MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_DOCKER_HOST=
MYSQL_DOCKER_USER=
MYSQL_DOCKER_PASSWORD=

MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE_LOCAL=

# CloudinaryConfiguration
CLOUNDINARY_KEY=
CLOUNDINARY_SECRET=
CLOUNDINARY_NAME=
PSQL=

ENVIRONMENT=
